html {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}
h1 {
  font-size: 48px;
}
p {
  line-height: 1.5;
  color: gray;
}
a {
  cursor: pointer;
  color: gray;
  text-decoration: none;
}
a:hover {
  color: black;
}
small {
  display: block;
  margin: 24px 0;
  text-align: center;
}
hr {
  margin: 0;
  margin: 0;
  background: #e6e7e8;
  height: 1px;
  border: none;
}
strong {
  color: black;
}
footer {
  padding: 40px 80px;
}
/*UTILS*/
.btn {
  width: fit-content;
  border: none;
  border-radius: 54px;
  background-color: #57a772;
  color: white;
  padding: 16px 52px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
  cursor: pointer;
}
.btn:hover {
  transition: all 400ms ease-out;
  box-shadow: 1px 1px 10px 1px #57a772;
}
.section-container {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}
.icon {
  color: #949492;
}
.wt {
  color: white;
}
.btn--black {
  background-color: #000000;
}
.btn--black:hover {
  box-shadow: 1px 1px 10px 1px #000000;
}
.hr--green {
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background: #57a772;
}
/*SIDEBAR*/
.sidebar {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  background-color: black;
  color: white;
}
.sidebar--closed {
  display: none;
}
.sidebar--open {
  display: grid;
}
/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 80px;
  border-bottom: 1px solid #e6e7e8;
  box-shadow: 1px 2px 12px 0 #e6e7e8;
}
.navbar__logo {
  flex: 1;
}
.navbar__items {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar__link {
  margin: 0 8px;
}
.navbar__logo-image {
  width: 100px;
  height: 100%;
}
.menu-icon {
  display: none;
  visibility: hidden;
  cursor: pointer;
}
/*HERO SECTION*/
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.hero__description {
  padding-left: 80px;
  max-width: 420px;
}
/*SOME ANIMATIONS FOR UX*/
.hero__description h1 {
  animation-delay: 0.6s;
}
.hero__description p {
  animation-delay: 0.8s;
}
.hero__description button {
  animation-delay: 1s;
}
.hero img {
  height: 100%;
}
/*DISHES SECTION*/
.cards-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.card {
  display: flex;
  flex-direction: column;
  transition: all 400ms ease-in;
  overflow: hidden;
  margin: 0;
  border-radius: 8px;
  position: relative;
  height: auto;
  border: 1px solid #e6e7e8;
  background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.placeholder-card {
  background: url(../images/coffe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.card__image {
  height: 192px;
}
.card__description {
  padding: 24px;
}
.card__buttons {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  margin-top: auto;
  border-top: 1px solid #e6e7e8;
}
.card__carousel-images {
  height: 100px;
  display: flex;
  padding-left: 24px;
}
.card__carousel-image {
  height: 100%;
  width: 100px;
  border-radius: 8px;
  margin-right: 8px;
}
.card__buttons > span,
i {
  margin-left: 8px;
}
.icon--first {
  flex: 1;
}
/* HOW IT WORKS SECTION*/
.info-section {
  background-color: #f0f1f0;
}
.info-section img {
  width: 100px;
}
.info-card {
  text-align: center;
  align-items: center;
  padding: 32px;
  border: none;
}
.info-card__description {
  font-size: 12px;
}
.info-card__number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 32px;
  top: 32px;
  width: 20px;
  height: 20px;
  background-color: #57a772;
  color: white;
  padding: 4px;
  border-radius: 100%;
  font-size: 12px;
}
/* DOWNLOAD SECTION*/
.download-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.download-section__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}
/*COUPON SECTION*/
.coupon-section {
  display: flex;
  justify-content: center;
  background: url("../images/bg_food.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0 0 300px 300px;
  text-align: center;
  padding-bottom: 200px;
}
.coupon-section__wrapper {
  width: 100%;
  max-width: 800px;
}
.coupon-section__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}
.form-input {
  border-radius: 24px;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
  border: 1px solid #e6e7e8;
}
/*VIDEO SECTION*/
.video-section {
  display: flex;
  justify-content: center;
}
.video-section__content {
  width: 80%;
  margin-top: -240px;
  border-radius: 12px;
}
/*FOOTER*/
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer-title {
  font-weight: 600;
  color: #000000;
}
/*RESPONSIVENESS*/

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }
  .menu-icon {
    display: inline;
    visibility: visible;
  }
  .navbar__link {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .download-section {
    grid-template-columns: 1fr;
  }
  .hero__description {
    padding: 0 40px;
    margin: 40px 0;
  }
  .section-container {
    padding: 40px;
  }
  .video-section__content {
    margin-top: -100px;
    width: 100%;
  }
  .footer {
    padding: 40px;
  }
}
/* ANIMATIONS */
.animate-pop-in {
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}
